#wrapper
  .vspace
  .clear
  div
    .centerCol
      #header.shadow
        h1= title
        span 
          | Generates table of content for markdown files inside github repositories

        // Twitter
        html
          <a href="https://twitter.com/share" class="twitter-share-button float-right" data-text="I just added a table of content to my #github #markdown page using #doctoc.">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      .centerColBackground
      .centerColContent
        .content
          div
            form#tocit(action="/tocit", method="GET")
              label.shadow Enter Url that contains markdown file:

              input#url.wide-text.url-entry(
                type="url", 
                name="url", 
                placeholder="e.g., https://github.com/thlorenz/doc-toc/blob/master/README.md")

              input#submit.button(type="submit", value="GO")
          #result
            label.shadow Paste below generated content at the top of your markdown file:
            br
            textarea(readonly="readonly")

      #page-footer.shadow
        a.float-left.tooltip(href="https://github.com/thlorenz/doctoc/blob/master/README.md", data-tip="npm install -g doctoc")
          | get doctoc app
        a.float-left(href="https://github.com/thlorenz/doctoc-web")
          | get source
        a.float-right(href="http://www.grsites.com/")
          | background image

script(src="javascripts/root.js", type="text/javascript")

